<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
</head>

<body>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username">
        <input type="text" name="email">
        <input type="password" name="password">
        <input type="password" name="verifypassword">
        <input type="submit" value="注册">
    </form>
</body>

</html>