<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>

<body>
    <p>
        <p>双电源切换柜</p>
        <a href="{% url 'list_bjs_base_dual_power_switching' %}">列表</a>
        <a href="{% url 'page_bjs_base_dual_power_switching' %}">详情</a>
        {% if perms.home.add_bjs_base_dual_power_switching %}
        <a href="{% url 'add_bjs_base_dual_power_switching' %}">添加</a>
        {% endif %} {% if perms.home.change_bjs_base_dual_power_switching %}
        <a href="{% url 'change_bjs_base_dual_power_switching' %}">编辑</a>
        {% endif %} {% if perms.home.delete_bjs_base_dual_power_switching %}
        <a href="{% url 'delete_bjs_base_dual_power_switching' %}">删除</a>
        {% endif %}
    </p>

    <p>
        <p>蓄电池电源主机柜</p>
        {% if perms.home.add_bjs_base_battery_power_mainframe %}
        <a href="{% url 'add_bjs_base_battery_power_mainframe' %}">添加</a>
        {% endif %} {% if perms.home.change_bjs_base_battery_power_mainframe %}
        <a href="{% url 'change_bjs_base_battery_power_mainframe' %}">编辑</a>
        {% endif %} {% if perms.home.delete_bjs_base_battery_power_mainframe %}
        <a href="{% url 'delete_bjs_base_battery_power_mainframe' %}">删除</a>
        {% endif %}
    </p>

    <p>
        <p>分时下电柜</p>
        {% if perms.home.add_bjs_base_power_off_mainframe %}
        <a href="{% url 'add_bjs_base_power_off_mainframe' %}">添加</a>
        {% endif %} {% if perms.home.change_bjs_base_power_off_mainframe %}
        <a href="{% url 'change_bjs_base_power_off_mainframe' %}">编辑</a>
        {% endif %} {% if perms.home.delete_bjs_base_power_off_mainframe %}
        <a href="{% url 'delete_bjs_base_power_off_mainframe' %}">删除</a>
        {% endif %}
    </p>

    <p>
        <p>电池柜</p>
        {% if perms.home.add_bjs_base_battery_mainframe %}
        <a href="{% url 'add_bjs_base_battery_mainframe' %}">添加</a>
        {% endif %} {% if perms.home.change_bjs_base_battery_mainframe %}
        <a href="{% url 'change_bjs_base_battery_mainframe' %}">编辑</a>
        {% endif %} {% if perms.home.delete_bjs_base_battery_mainframe %}
        <a href="{% url 'delete_bjs_base_battery_mainframe' %}">删除</a>
        {% endif %}
    </p>

    <p>
        <p>巡检记事</p>
        {% if perms.home.add_bjs_base_other_situation %}
        <a href="{% url 'add_bjs_base_other_situation' %}">添加</a>
        {% endif %} {% if perms.home.change_bjs_base_other_situation %}
        <a href="{% url 'change_bjs_base_other_situation' %}">编辑</a>
        {% endif %} {% if perms.home.delete_bjs_base_other_situation %}
        <a href="{% url 'delete_bjs_base_other_situation' %}">删除</a>
        {% endif %}
    </p>

</body>

</html>