{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <title>用户编辑</title>
</head>

<body>
    <!--STATIC NAVBAR-->
    {% include 'navbar.html' %}
    <!--STATIC NAVBAR-->
    <!--CONTAINER-->
    <div class="banner">
        <div class="container">
            <div class="row text-center">
                <h1>用户编辑</h1>
            </div>
        </div>
    </div>
    <!--CONTAINER-->
    <!--CONTAINER-->
    <div class="container">
        <div class="row">

            <form action="{% url 'user_change' %}?id={{ obj.id }}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{UMF.as_p}}
                <input class="btn btn-default form-control" type="submit" value="确定">
            </form>

        </div>
    </div>
    <!--CONTAINER-->
    <!--FOOTER-->
    {% include 'footer.html' %}
    <!--FOOTER-->
    <!--CODE-->
    <!--CODE-->
</body>

</html>